@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Boutique Indian&Pakistani wear</h1>

    <img src="~/neighborhood-boutiques.jpg" />
    <p>
        <a>
           
        </a>.
    </p>
</div>
