@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Boutique Indian&Pakistani wear</h1>
    <img src="~/9.jpg" style="width:1250px;" />
   
  
    
    <p>
        <a>

        </a>.
    </p>
</div>
