@page
@model PrivacyModel
@{
    ViewData["Title"] = "Know More About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    We have an authentic collection of designer wear,
    and are known for our outstanding range of Indian and Pakistani garments.

    <img src="~/188a_540x.progressive.jpg" />

    We import excellent high quality garments from India,
    and Pakistan. All items are ready to wear just for you.
    We import designs that are not repeated again.

    It is our mission to provide the absolute best outfits that compliments the appearance of a woman.
</p>
