@page
@model BoutiqueManagement.Pages.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.Staff_ID" />
            <div class="form-group">
                <label asp-for="Staff.StaffName" class="control-label"></label>
                <input asp-for="Staff.StaffName" class="form-control" />
                <span asp-validation-for="Staff.StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.StaffEmail" class="control-label"></label>
                <input asp-for="Staff.StaffEmail" class="form-control" />
                <span asp-validation-for="Staff.StaffEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.StaffMobile" class="control-label"></label>
                <input asp-for="Staff.StaffMobile" class="form-control" />
                <span asp-validation-for="Staff.StaffMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Address" class="control-label"></label>
                <input asp-for="Staff.Address" class="form-control" />
                <span asp-validation-for="Staff.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.JionningDate" class="control-label"></label>
                <input asp-for="Staff.JionningDate" class="form-control" />
                <span asp-validation-for="Staff.JionningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Visa_Finshing_Date" class="control-label"></label>
                <input asp-for="Staff.Visa_Finshing_Date" class="form-control" />
                <span asp-validation-for="Staff.Visa_Finshing_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
